html {
  font-family: sans-serif; }



header {

  width: 100%;
  height: 3.2em;
  background-color: #61D43D;
  border-radius: 0 0 1px 1px;

}

header ul{

    float: right;
    padding: 0.5em 1em 1em 0;
    font-size: 1.2em;
    font-weight: bold;
}

header a{

    text-decoration: none;
    color: white;

}

seader ul a:hover{

    text-decoration: underline;

}


section .mian{
    width: 100%;
}

article {
    overflow: auto;
	float: left;
	width: 15%;
    height: 35em;
}
 .navigation{
    text-align:center;
}

.navigation li{

    display: block;
    width:100%;
    height: 2.7em;
    font-size: 1.1em;

}

.navigation li:hover{
    background-color: #b7ffb2;
}


.category li{

    font-size: 1em;
    padding-left: 5px;
    margin-top: 0.7em;

}

article ul a{

    text-decoration: none;
	color: #009ead;

}

.category a{

    text-decoration: none;
    color: #7a7a7a;

}

.content button{

    display: block;
    clear: both;
    margin: 5em;
    width: 4em;
    height: 2em;
    font-size: 1.1em;

}

.content button a{

    text-decoration: none;

}

section .content{

	margin-left: 15%;
	border-left: 2px solid #e4e8e3;
	width: 79%;
	min-height: 35em;

  }

footer{

	width: 100%;
	height: 10em;
	background-color: #2D3E64;
	clear: both;

}

footer ul{

    line-height: 2em;
    padding-top: 1em;
    margin: 2em;

}
footer ul li{

    color: white; 

}


.logo {
	
	font-weight: bold;
	color: white;
	font-size: 2em;
	display: block;
	padding: 5px;
}

.contentWrapper {

    padding: 4em;
}

.contentWrapper input {

    height:  1.5em;
    width: 15em;
    font-size: 1.2em;
    margin: 1.5em  0 1.5em 0;
    border-radius: 0.3em;
    border:none;
    border:1px solid #bababa;

}
.contentWrapper textarea , .contentWrapper select {

    margin: 1.5em 0 1.5em 0;
    border-radius: 0.3em;

}
.contentWrapper label{
    color: gray;
    font-size: 1.2em;
}

form .smallInput {

    width: 5em;

}

.contentWrapper input[type="submit"]{
    margin-left: 0em;
    width: 5em;
    height: 2em;
}

.messageError {

    color: red;
    text-size: 0.5em;
    margin: 0em 0em 1em 1em;

}

.warningMessage {

    color: #777;

}

.element {

    float: left;
    width: 17em;
    height: 17em;
    border-bottom: 2px solid #eaeaea;
    margin: 2em 0 2em 2em;
    line-height: 1.6em;

}

.element img{

    width:100%;
    height: 50%;
}

.element span{

    padding-left: 5px;
    color: #009ead;

}

.element:hover{

    border-color: #61D43D;
}

.element span a {

    color: #009ead;

}

.element span a:hover{

    color: #2D3E64;
}

table {

    margin: 0 auto;
    display: block;
    width: 80%;
    border-collpase: collapse;
}

tr{
    font-size: 1.2em;
}


td{

    height: 2em;
}
.number{
    width: 3em;
}

.Tdname{

    width: 20em;
}

.view{

    width: 6em;

}

.courseName{

    width: 20em;
}

/** for showCourse Page **/

.info {

    padding: 4em;

}

.info label{

    color: gray;

}

.info td{
    padding: 1em 0 1em 0.5em;
    height: 2em;
    border-bottom: 2px solid gray;

}
.info td:nth-child( odd ) {

    width:30%;
}
.info td:nth-child(even){

    width: 70%;
}

.info a.first{

    margin-left: 5em;

}
.info a:hover{

    color: #61D43D;

}
.info a {

    text-decoration: none;
    color:#009EAD;
    font-size: 1.3em;
    margin-right: 2em;

}

.comfirmPayment h1 {

    padding-left: 0.5em;
    font-size: 2em;
}

.comfirmPayment p {

    padding: 1em;
    font-size: 1.5em;

}

.comfirmPayment a{

    font-size: 1.3em;


}

.report {

    width: 80%;
    text-align: center;
    padding: 2em;

}

.report td{

    width: 10em;
    border-right: 1px solid gray;

}

.content nav{

    padding: 3em;
}

.content nav a{

    padding: 2em;
    color: #1c9ead;

}
